@font-face {
  font-family: 'Digital_tech';
  src: url('../fonts/Digital_tech.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Digital Sans';
  src: url('../fonts/Digital Sans EF Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
