@import "scss_variables_mixins";
@import "../stylesheets/normalize.css";


// edit this mixin!!!!
              @font-face {
                font-family: 'Digital_tech';
                src: url('../fonts/Digital_tech.otf');
                font-weight: normal;
                font-style: normal;
              }
              @font-face {
                font-family: 'Digital Sans';
                src: url('../fonts/Digital Sans EF Medium.ttf');
                font-weight: normal;
                font-style: normal;
              }

*,
*:before,
*:after {
  margin: 0;
  padding: 5px;
    @include border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #074b88;
  // border: 2px solid black;
}

#wrapper,
.row {
  @extend %clearfix;
}

#wrapper {
  margin: 0 auto;
  width: 95%;
  max-width: $grid-max-width;

  background-color: #fecc3e;
  border: 10px solid black;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

header {
  height: 50%;
  // background-color: blue;
  // border: 2px solid black;
}
  header img {
    max-width: 100%;
    height: auto !important;

    width: 80%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    }

#center-row {
  // height:40em;
  // height: 80%;
  // height: 800px;
  }

nav { /* div gallery*/
  // background-color: purple;
  // border: 2px solid black;
}
  nav ul {
    // font-family: 'Oswald', sans-serif;
    font-family: 'Digital_tech';
    font-weight: bold;
      // @include declare-font-face('Digital_tech');
  }
    nav ul li {
      text-align: center;
      list-style-type: none;
      border-bottom: 2px solid black;
    }
      nav ul li a {
        color: #074b88;
        text-decoration: none;
      }
      nav ul li a:hover {
        color: #fff045;
      }
      nav ul li a:visited {
        // color: #ff6600;
      }
        nav ul li a img { /* div gallery img */
          // display: none;
          border: 2px solid black;
        }


section #full-size { /* div#full-size */
  background-size: contain;

  background-color: yellow;
  border: 2px solid black;
}
  section.all {
    background: url('images/digimon_all.png');
    // no-repeat left top

    // height: 300px;
    // width: 300px;
    // background-color: orange;
    // border: 2px solid black;
  }

  section #full-size .agu {
    background: url('images/evolutions/agu/agu1.png');
  }
    // section img {
    //   max-width: 100%;
    //   height: auto !important;
    //
    //   width: 99%;
    //   display:block;
    //   margin-left:auto;
    //   margin-right:auto;
    //
    //   // background-size: contain;
    // }




footer {
  // background-color: green;
  // border: 2px solid black;
  // color: #074b88;

  font-family: 'Digital Sans';
}

@media #{$breakpoint-medium} {
  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $x from 1 through $grid-columns {
    .column-#{$x} {
      width: 100% / $grid-columns * $x;
    }
  }
}
