@import "scss_variables_mixins";
@import "../stylesheets/normalize.css";


// edit this mixin!!!!
              @font-face {
                font-family: 'Digital_tech';
                src: url('../fonts/Digital_tech.otf');
                font-weight: normal;
                font-style: normal;
              }
              @font-face {
                font-family: 'Digital Sans';
                src: url('../fonts/Digital Sans EF Medium.ttf');
                font-weight: normal;
                font-style: normal;
              }

*,
*:before,
*:after {
  margin: 0;
  padding: 5px;
    @include border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #074b88;
}

#wrapper,
.row {
  @extend %clearfix;
}

#wrapper {
  margin: 0 auto;
  width: 95%;
  max-width: $grid-max-width;
  box-shadow: -3px 0 #97b3cd, 0 3px #97b3cd, 3px 0 #97b3cd, 0 -3px #97b3cd;

  background-color: #fecc3e;
  border: 10px solid black;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

header {
  height: 50%;
}
  header img {
    max-width: 100%;
    height: auto !important;

    width: 65%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    }

nav { /* div gallery*/

}
  nav ul {
    font-family: 'Digital_tech';
    font-weight: bold;
      // @include declare-font-face('Digital_tech');
  }
    nav ul li {
      text-align: center;
      list-style-type: none;
      border-bottom: 2px solid black;
    }
      nav ul li a {
        color: #074b88;
        text-decoration: none;
      }
      nav ul li a:hover {
        color: #ff6600;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
      }
      nav ul li a:visited {
        color: #ff6600;
        text-shadow: -10px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }

section #full-size { /* div#full-size */
  background-size: 100%;
  border: 2px solid black;
}


  section .all { /* div.slope */
    //  background-size: 100%;
    background: url('../images/digimon_all_edited.png') no-repeat;
  }
  section .agu {
    background: url('../images/agu1.png') no-repeat;
  }
  section .gabu {
    background: url('../images/gabu1.png') no-repeat;
  }
  section .biyo {
    background: url('../images/biyo1.png') no-repeat;
  }
  section .tento {
    background: url('../images/tento1.png') no-repeat;
  }
  section .pal {
    background: url('../images/pal1.png') no-repeat;
  }
  section .goma {
    background: url('../images/goma1.png') no-repeat;
  }
  section .pata {
    background: url('../images/pata1.png') no-repeat;
  }
  section .gato {
    background: url('../images/gato2.png') no-repeat;
  }





footer {
  // background-color: green;
  // border: 2px solid black;
  // color: #074b88;

  font-family: 'Digital Sans';
}

@media #{$breakpoint-medium} {
  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $x from 1 through $grid-columns {
    .column-#{$x} {
      width: 100% / $grid-columns * $x;
    }
  }
}

//
// #074b88 dark blue
// #97b3cd gray/white
// #fecc3e yellow
// #ff6600 orange
