@import "scss_variables_mixins";
@import "../stylesheets/normalize.css";
@import "fonts";

*,
*:before,
*:after {
  margin: 0;
  padding: 5px;
    @include border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: $blue;
}

#wrapper,
.row {
  margin: 0 auto;
  width: 95%;
  max-width: $grid-max-width;
  background-color: $yellow;
  border: 10px solid black;
    @include digi-border;
      @extend %clearfix;
}

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

header {
  height: 50%;
}
  img {
    width: 65%;
    display:block;
    margin: 0 auto;
  }

ul {
  font-family: 'Digital_tech';
  font-weight: normal;
  text-align: center;
}
  li {
    border-bottom: 2px solid black;
    list-style-type: none;
  }
    a {
      text-decoration: none;
    }
    a:hover, a:focus {
      color: $orange;
        @include glow;
    }

#image-box {
  background-size: contain;
  background-position: center center;
}

.all {
  background: url('../images/digimon_all_edited.png') no-repeat;
}
.agu {
  background: url('../images/agu1.png') no-repeat;
}
.gabu {
  background: url('../images/gabu1.png') no-repeat;
}
.biyo {
  background: url('../images/biyo1.png') no-repeat;
}
.tento {
  background: url('../images/tento1.png') no-repeat;
}
.pal {
  background: url('../images/pal1.png') no-repeat;
}
.goma {
  background: url('../images/goma1.png') no-repeat;
}
.pata {
  background: url('../images/pata1.png') no-repeat;
}
.gato {
  background: url('../images/gato2.png') no-repeat;
}

footer {
  font-family: 'Digital Sans';
}

@media #{$breakpoint-medium} {
  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $x from 1 through $grid-columns {
    .column-#{$x} {
      width: 100% / $grid-columns * $x;
    }
  }
}
